.rocket {
	background: url('../../../../media/rocket.png') no-repeat;
	background-size: contain;
	cursor: grab;
	height: 140px;
	user-select: none;
	width: 140px;
	will-change: transform;
}

.rocket:active {
	cursor: grabbing;
}
