.container {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	user-select: none;
}

.background {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	/* style */
	background-repeat: no-repeat, repeat;
	/* background-image: linear-gradient(45deg, #01141f, white), url('../assets/sky.png'); */
	background-image: linear-gradient(25deg, #03243b, #01141f),
		url('../../../../media/sky.png');
	background-size: auto, 384px;
	background-blend-mode: lighten, normal;
	overflow: hidden;
	user-select: none;
	/* optimization */
	/* will-change: transform; */
}

.rocket-pane {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	user-select: none;
}
