name: CI

# Events that trigger this workflow
on: [push, pull_request]

# Defines which tool versions should be used in all workflow jobs
env:
  node: '18'
  pnpm: '7'

jobs:
  style:
    name: Style
    runs-on: ubuntu-latest
    steps:
      - name: Checkout 游닌
        uses: actions/checkout@v3.4.0
      - name: Setup PNPM 游
        uses: pnpm/action-setup@v2.2.4
        with:
          version: ${{ env.pnpm }}
      - name: Setup Node 游
        uses: actions/setup-node@v3.6.0
        with:
          node-version: ${{ env.node }}
          cache: 'pnpm'

      - name: Install dependencies 游닄
        run: pnpm install
      - name: Check code style 游빟
        run: pnpm ci:style

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout 游닌
        uses: actions/checkout@v3.4.0
      - name: Setup PNPM 游
        uses: pnpm/action-setup@v2.2.4
        with:
          version: ${{ env.pnpm }}
      - name: Setup Node 游
        uses: actions/setup-node@v3.6.0
        with:
          node-version: ${{ env.node }}
          cache: 'pnpm'

      - name: Install dependencies 游닄
        run: pnpm install
      - name: Run Linter 游늼
        run: pnpm lint

  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout 游닌
        uses: actions/checkout@v3.4.0
      - name: Setup PNPM 游
        uses: pnpm/action-setup@v2.2.4
        with:
          version: ${{ env.pnpm }}
      - name: Setup Node 游
        uses: actions/setup-node@v3.6.0
        with:
          node-version: ${{ env.node }}
          cache: 'pnpm'

      - name: Install dependencies 游닄
        run: pnpm install
      - name: Check types 游늼
        run: |
          pnpm build
          pnpm check

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout 游닌
        uses: actions/checkout@v3.4.0
      - name: Setup PNPM 游
        uses: pnpm/action-setup@v2.2.4
        with:
          version: ${{ env.pnpm }}
      - name: Setup Node 游
        uses: actions/setup-node@v3.6.0
        with:
          node-version: ${{ env.node }}
          cache: 'pnpm'

      - name: Install dependencies 游닄
        run: pnpm install
      - name: Build packages 游닍
        run: pnpm build

      - name: Upload vertx-event-bus build artifact 游닋
        uses: actions/upload-artifact@v3.1.2
        with:
          name: packages_vertx-event-bus_dist-${{ github.run_number }}
          path: packages/vertx-event-bus/dist/
          retention-days: 7
      - name: Upload vertx-mock-server build artifact 游닋
        uses: actions/upload-artifact@v3.1.2
        with:
          name: packages_vertx-mock-server_dist-${{ github.run_number }}
          path: packages/vertx-mock-server/dist/
          retention-days: 7
      - name: Upload telestion-client-types build artifact 游닋
        uses: actions/upload-artifact@v3.1.2
        with:
          name: packages_telestion-client-types_types-${{ github.run_number }}
          path: packages/telestion-client-types/types/
          retention-days: 7
      - name: Upload telestion-client-prop-types build artifact 游닋
        uses: actions/upload-artifact@v3.1.2
        with:
          name: packages_telestion-client-prop-types_dist-${{ github.run_number }}
          path: packages/telestion-client-prop-types/dist/
          retention-days: 7
      - name: Upload telestion-client-core build artifact 游닋
        uses: actions/upload-artifact@v3.1.2
        with:
          name: packages_telestion-client-core_dist-${{ github.run_number }}
          path: packages/telestion-client-core/dist/
          retention-days: 7
      - name: Upload telestion-client-common build artifact 游닋
        uses: actions/upload-artifact@v3.1.2
        with:
          name: packages_telestion-client-common_dist-${{ github.run_number }}
          path: packages/telestion-client-common/dist/
          retention-days: 7

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout 游닌
        uses: actions/checkout@v3.4.0
      - name: Setup PNPM 游
        uses: pnpm/action-setup@v2.2.4
        with:
          version: ${{ env.pnpm }}
      - name: Setup Node 游
        uses: actions/setup-node@v3.6.0
        with:
          node-version: ${{ env.node }}
          cache: 'pnpm'

      - name: Install dependencies 游닄
        run: pnpm install
      - name: Run unit tests and generate coverage 游띆
        run: |
          pnpm build
          pnpm test
