name: End-to-end tests

on: [push]

jobs:
  cypress-run:
    runs-on: ubuntu-16.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Cypress run
        uses: cypress-io/github-action@v2.7.2
        with:
          start: npm run start:ci
          wait-on: 'http://localhost:3000'
        #   record: true
        # env:
        #   CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
        #   GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
